src/main/java/com/kolhun/generated/server/HelloWebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.com"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://webservice.com" xmlns:intf="http://webservice.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--WSDL created by Apache Axis version: 1.3
    Built on Oct 05, 2005 (05:23:37 EDT)-->
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://webservice.com"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="sayHello">
                <complexType>
                    <sequence>
                        <element name="name" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="sayHelloResponse">
                <complexType>
                    <sequence>
                        <element name="sayHelloReturn" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="sayHelloResponse">

        <wsdl:part element="intf:sayHelloResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="sayHelloRequest">

        <wsdl:part element="intf:sayHello" name="parameters"/>

    </wsdl:message>

    <wsdl:portType name="HelloWebservice">

        <wsdl:operation name="sayHello">

            <wsdl:input message="intf:sayHelloRequest" name="sayHelloRequest"/>

            <wsdl:output message="intf:sayHelloResponse" name="sayHelloResponse"/>

        </wsdl:operation>

    </wsdl:portType>



    <wsdl:binding name="HelloWebserviceSoapBinding" type="intf:HelloWebservice">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHello">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="sayHelloRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayHelloResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>



    <wsdl:service name="HelloWebserviceService">

        <wsdl:port binding="intf:HelloWebserviceSoapBinding" name="HelloWebservice">

            <wsdlsoap:address location="http://localhost:8081/WebServiceTutorial/services/HelloWebservice"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>